@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary: #57b3bd;
    --secondary: #ff694e;
    --background: #f2f2f5;
    --button: #3399fd;
    --text: #272f3a;
    --inactive: #a4a9b4;
    --stroke: #E6E9F0;
}

@font-face {
    font-family: Aeonik;
    src: url(assets/fonts/Aeonik-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Aeonik;
    src: url(assets/fonts/Aeonik-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Aeonik;
    src: url(assets/fonts/Aeonik-Light.ttf);
    font-weight: 200;
}


* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Aeonik, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: var(--text);
}

h2 {
    color: #000;
    text-align: center;
    font-family: Aeonik;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
}

h3 {
    color: var(--text);
    text-align: center;
    font-family: Aeonik;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
}

h4 {
    color: #000;
    font-family: Aeonik;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.15px;
}

p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: var(--text);

}

a {
    /* Display */
    padding: 18px 50px;
    width: fit-content;

    /* Style */
    border-radius: 12px;
    background-color: var(--button);
    box-shadow: 0 8px 16px rgba(51, 153, 253, 32%);

    /* Typography */
    font-family: Aeonik, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #fff;
}

/* Intro Page */

#intro-body {
    background: var(--background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#content {
    max-width: 660px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#ctas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#keypress-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    line-height: 14px;
}

#keypress-indicator img {
    width: 10px;
}

/* Form Pages */

#form-body {
    display: flex;
    flex-direction: row;
}

#left-col {
    width: 45%;
    height: 100%;

    background-image: url('assets/left-col-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#right-col {
    /* Layout */
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 27px;

    /* Style */
    background-color: var(--background);
}

.inner-content {
    width: 506px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.progress-bar {
    background: #fff;
    width: 100%;
    height: 10px;
    border-radius: 20px;
}

.progress {
    height: 10px;
    width: 150px;
    background: var(--button);
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px rgba(51, 153, 253, 0.24);
}

#extension-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    border: none;
}

.option-grid-item {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;

    /* Style */
    background: #fff;
    border: 1px solid var(--stroke);
    border-radius: 12px;
}

.option-grid-item img {
    height: 60px;
}

.option-grid-item:hover {
    cursor: pointer;
}

.option-grid-item .opt-title {
    color: #000;
    text-align: center;
    font-family: Aeonik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.option-grid-item .opt-subtitle {
    color: var(--inactive);
    text-align: center;
    font-family: Aeonik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}

.option-grid-item .opt-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: left;
}

.option-grid-item input[type="radio"] {
    /* Hide the radio */
    display: none;
}

input[type="radio"]:checked~.opt-text .opt-title,
input[type="radio"]:checked~.opt-title {
    /* Set title blue on click */
    color: var(--button);
}

.form-btn-primary {
    /* Layout */
    padding: 16px 50px;
    width: fit-content;
    align-self: flex-end;

    /* Style */
    border-radius: 12px;
    background: var(--button);
    box-shadow: 0px 0px 8px 0px rgba(51, 153, 253, 0.24);
    border: none;
    cursor: pointer;

    /* Typography */
    color: #FFF;
    text-align: center;
    font-family: Aeonik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.form-btn-secondary {
    /* Layout */
    padding: 16px 50px;
    width: fit-content;
    align-self: flex-end;

    /* Style */
    border-radius: 12px;
    background: var();
    border: solid 3px var(--button);
    cursor: pointer;

    /* Typography */
    color: var(--button);
    text-align: center;
    font-family: Aeonik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.question {
    display: none;
}

.active {
    display: flex;
}

#size-options {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option-row-item {
    /* Layout */
    padding: 18px 16px;
    display: flex;
    flex-direction: row;
    gap: 15px;

    /* Style */
    background: white;
    border-radius: 12px;
    border: solid 1px var(--stroke);
}

.option-row-item .opt-title {
    color: var(--text);
    font-family: Aeonik;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.option-row-item .opt-subtitle {
    color: var(--inactive);
    text-align: right;
    font-family: Aeonik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.form-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#finish-options {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#finish-options .option-row-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 25px 20px 25px;
}

#finish-options .opt-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Your Estimate Page */

#your-estimate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

#inner-section {
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-radius: 12;
    gap: 30px;
}

.sidebar {
    height: 100%;
    background: #fff;
    border-radius: 12px;
}

#profile-sidebar {
    width: 20%;
    height: auto;
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-top-section img {
    width: 180px;
}

.sidebar-top-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

hr {
    border-top: 1px solid rgba(217, 217, 217, 0.30);
}

#project-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#pd_table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-left: 15px;
    border-left: solid 2px var(--stroke);
}

.pd_trow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.pd_name {
    color: var(--text);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.16px;
}

.pd_value {
    color: var(--inactive);
    text-align: right;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
    letter-spacing: 0.16px;
}

#project-details a {
    padding: 0;
    background: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: 8px;

    /* Typography */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.12px;
    color: var(--button);
}

#project-details a img {
    width: 12px;
}

.sidebar-sign-in-card {
    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    width: auto;

    /* Style */
    box-shadow: none;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.05);
}

.sidebar-sign-in-card div {
    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    /* Typography */
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.16px;
}

#knowledge-sidebar {
    display: flex;
    flex-direction: column;
    gap: 23.33px;
    padding: 15px;
    height: auto;
    width: 20%;
}

.knowledge-card {
    display: flex;
    flex-direction: column;
    padding: 10px 12px;
    gap: 10px;
    background: var(--stroke);
    border-radius: 8px;
}

.knowledge-card p {
    color: rgba(39, 47, 58, 0.70);
    font-family: Aeonik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

#your-estimate-main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#your-estimate-main .intro {
    gap: 5px;
}

#donut-breakdown {
    padding: 0 37.5px;
    display: flex;
    flex-direction: row;
}

.db-bullets {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    /* Typography */
    color: #000;
    text-align: center;
    font-family: Aeonik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.14px;
}

.db-bullet-icon {
    height: 10px;
    width: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
}

.yellow {
    background: #F5DB9C;
    border-color: #EFC660;
}

.red {
    background: #FFA898;
    border-color: #FE684D;
}

.blue {
    background: #99CDFF;
    border-color: #3398FC;
}

.green {
    background: #B5E7EB;
    border-color: #4DB7BE;
}

.purple {
    background: #C9BCFF;
    border-color: #9479FF;
}

/*  Mobile Optimisation  */
@media only screen and (max-width: 600px) {

    #intro-body {
        padding: 30px;
    }

    h1 {
        font-size: 26px;
        line-height: 34px;
    }

    p {
        font-size: 16px;
        line-height: 22px;
    }

    #form-body {
        display: flex;
        flex-direction: column;
    }

    .intro {
        gap: 10px;
    }

    #left-col {
        width: 100%;
        height: 30%;
    }

    #right-col {
        height: fit-content;
        width: unset;
        padding: 50px 30px;
    }

    .inner-content {
        width: unset;
    }

    .progress {
        width: 100px;
    }

    #extension-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }

    #extension-options img {
        height: 40px;
    }

    #size-options {
        gap: 15px
    }

    #finish-options .option-row-item {
        width: unset;
    }

}